@font-face {
    font-family: 'RickMorty';
    src: url('../fonts/get_schwifty.ttf'); 
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

p {
    margin-top: 0.3rem;
}

body {
    background-image: url(../assets/bg-mosaic-RM.jpg)
}

header {
    max-width: 1800px;
    height: 12rem;
    margin: 0 auto;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;

}

main {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
}

main aside {
    width: 30%;
    height: calc(100vh - 12rem);
    overflow-y: auto;
}

/* Scrollbar styles */
aside::-webkit-scrollbar {
    width: 12px;
  }

aside::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll-grey); 
    border-radius: 5px; 
  }

aside::-webkit-scrollbar-track {
    background-color: var(--bg-grey);
  }

main aside .tittle-episodes {
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    border-bottom: solid 1px white;

}

main aside .tittle-episodes h2 {
    font-family: 'RickMorty', cursive;
    text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 2px 0 black, 1px 1px 0 black; 
    font-size: 2rem;
    color: white;
}

main aside li {
    color: white;
    background-color: var(--primary-color);
    height: 5rem;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid white;
}

main aside a {
    color: white;
    text-decoration: none;
    
}

main aside li:hover {
    background-color: #128da0;

}

main aside button {
    background-color: var(--green);
    color: white;
    height: 3rem;
    width: 100%;
    text-align: center;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

main aside button:hover {
    background-color: black;
}

/* CHANGE SECTION */

section {
    width: 100%;
    background-image: url(../assets/rickmorty-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    

}


/* TITLES AND EPISODES */
section .hide {
    display: none;
}

section .content-intro {
    width: 100%;
    margin: 3rem;
    padding: 1.5rem;
    background-color: var(--bg-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
  }

::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll-grey); 
    border-radius: 5px; 
  }

::-webkit-scrollbar-track {
    background-color: var(--bg-grey);
  }

section .content-intro h1 {
    font-size: 4rem;
    line-height: 1.4em;
    font-family: 'RickMorty';
    color: var(--green);
    text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 2px 0 black, 1px 1px 0 black;
    margin-top: 4rem;
}

.content-characters {
    height: calc(100vh - 21rem);
    overflow-y: auto;
    margin: 3rem;
    padding: 1.5rem;
    background-color: var(--bg-grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1.2rem; 

}

.content-characters::-webkit-scrollbar {
    width: 12px;
  }

.content-characters::-webkit-scrollbar-thumb {
    background-color: var(--bg-scroll-grey); 
    border-radius: 5px; 
  }

.content-characters::-webkit-scrollbar-track {
    background-color: var(--bg-grey);
}

/* TITLE */
.content-characters .inf-episode {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    padding-top: 0.6rem;
    padding-left: 0.6rem;
}

.content-characters .inf-episode h1 {
    font-size: 4rem;
    line-height: 1.4em;
    font-family: 'RickMorty';
    color: var(--green);
    text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 2px 0 black, 1px 1px 0 black; 
}

.content-characters .inf-episode p {
    color: grey;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

/* EPISODES */
.content-characters .episode {
    width: 12.3rem;
    background-color: white;
    color: grey;
    font-size: 1rem;
    margin: 5px;
    padding: 0.7rem;
}

.content-characters .episode img {
    width: 100%;
    border-radius: 8px;
}

.content-characters .episode h3{
    font-size: 1.2rem;
    color: var(--secondary-color);

}





